.left {
    float: left;
    width: 13%;
    position:relative;
    margin-right: 0.5rem;
}
.notification {
    position: absolute;
    top: -5%;
    left: -3%;
    z-index: 10;
}
.btm {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.friendRequest, .friendMessage {
    padding-left: 2.5%;
}

.profile {
    min-width:100%;
    min-height:100%;
    height:auto;
    position:relative;
    top:50%;
    left:50%;
    transform:translateY(-50%) translateX(-50%);
}

div .friendMessage:active , div .friendRequest:active{
    background: ghostwhite;
}

.notification:hover{
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;}
    @keyframes ping {
    75%, 100% {
        transform: scale(2);
        opacity: 0;
                }
    }

.request{
    width: 80%;
    top: 8.5rem;
    z-index: -1;
}

