.left {
    position: relative;
    float: left;
    width: 13%;
    overflow:hidden;
    position:relative;
}
.notification {
    position: absolute;
    top: 0%;
    left: 2%;
    z-index: 10;
}
.btm {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.friendRequest {
    padding-left: 2.5%;
}

.friendMessage {
    padding-left: 2.5%;
}

.right {
    padding-left: 1%;
}